body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.progress-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  flex-grow: 1;
  height: 10px;
  background-color: #444;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.progress {
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width 0.3s;
}

.step-counter {
  font-size: 14px;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

button:active {
  transform: scale(0.95);
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
}
